/* Generic element tags */
h3 {
    margin-bottom: 0;
}

p {
    margin-top: 2%;
}

img[name="icons"] {
    height: 6rem;
}

/* Class perso */

.mainButtons {
    text-align: center;
    margin-top: 10%;
}

body {
    font-family: "Arial";   
}

.title > p {
    color: #808080ad;
}

.buttonsContainer {
    padding: 5%;
}

.buttonsContainer:hover {
    background: #FAFAFA;
    cursor: pointer;
}
