/* Generic element tags */
h3 {
    margin-bottom: 0;
}

p {
    margin-top: 2%;
}

img[name="icons"] {
    height: 8rem;
}

/* Class perso */

.mainButtons {
    text-align: center;
}




.title {
    font-family: "Arial";   
}
