.titleBlock>p {
    color: #808080ad;
}

textarea {
    resize: none;
    width: 95%;
    margin-top: 5%;
}

button {
    background-color: #0a6ed1;
    color: #fff;
    outline-color: #fff;
    height: 26px;
    line-height: 24px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    box-sizing: border-box;
    padding: 0 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: '72', Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: all;
    cursor: pointer;
    outline-offset: -3px;
}

.buttonsValidation {
    width: 95%;
    text-align: right;
    position: fixed;
    bottom: 2%;
}

.accept {
    background-image: none;
    background-color: #fff;
    border-color: #107e3e;
    color: #107e3e;
}

.accept:hover {
    background-color: #f1fdf6;
    border-color: #107e3e;
    color: #107e3e;
}

.reject {
    background-image: none;
    background-color: #fff;
    border-color: #b00;
    color: #b00;
}

.reject:hover {
    background-color: #ffebeb;
    border-color: #b00;
    color: #b00;
}

div::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}


.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.neutral {
    background-image: none;
    background-color: #fff;
    border: 0.0625rem solid #0854a0;
    color: #0854a0;
}

.neutral:hover {
    background-color: #ebf5fe;
}