.titleBlock>p {
    color: #808080ad;
}

.title {
    margin: 8px;
}

.modelCard {
    display: inline-block;
    height: 10rem;
    width: 7rem;
    margin-top: 5%;
    border-radius: 5px;
    margin-left: 3%;
    box-shadow: 3px 13px 21px 5px rgb(121 133 148 / 31%);
}

div::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
}