.titleBlock > p {
    color: #808080ad;
}

.uploaderArea {
    width: 90%;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    border-color: gray;
    border-style: dashed;
    border-width: 3px;
    margin-top: 10%;
    border-radius: 15px;
    text-align: center;
    padding: 5%;
}

img[name="uploadIcon"] {
    height: 4rem;
}

.uploaderArea > p {
    margin-bottom: 2%;
}

.uploaderArea > span {
    font-size: 13px;
    color: #858585;
}